extends baseTeacher
block main
    main.container(role='main')
        div.card
            div.card-header.bg-primary.text-white Список предметов
            div.card-body
                table(class="table table-bordered")
                    tr
                        th Номер
                        th Название предмета
                    each data in subjects
                        tr(class="colors" id=data.id onclick='RowClick(this)')
                            td #{data.num}
                            td #{data.Name}
                div(class="container")
                    form()
                        input(type="hidden" name="act" value="getDecision")
                        input(type="hidden" name="ActDecision" value="None")
                        p
                            b Название предмета:
                            input(name="SubjectName")
                        button(type="submit" class="btn btn-primary" onclick='RowClick1(this)') Добавить
                        button(type="submit" class="btn btn-primary") Изменить
                        button(type="submit" class="btn btn-primary") Удалить
    script(type="text/javascript", src="/javascripts/sendAnswer.js")
    script.
        var socket = io.connect(
            {
                'forceNew': true,
                'reconnection': true,
                'reconnectionDelay': 1000,
                'reconnectionDelayMax': 5000,
                'reconnectionAttempts': 5
            });
        var a = 0;
        function RowClick(row) {
            //console.log(row.id);
            a = row.id;
            //row.style.background = "blue";
            //alert(row);
        }
        function RowClick1(row) {
            var elems = document.getElementsByName('ActDecision')[0];
            elems.value = a;
            console.log(elems.value);
        }
        $(document).ready(function () {
            $(".colors:last").css("background-color", "#b0eeaa");
            var tr_clr = $(".colors:last").css("background-color");
            $(".colors:last").css("background-color", "white");
            $(".colors").click(function () {
                $(".colors").css("background-color", "white");
                $(this).css("background-color", tr_clr);
                //if ($(this).css("background-color") != tr_clr)
                //    $(this).css("background-color", tr_clr)
                //else $(this).css("background-color", "white")
            });

        });